@import "functions";
@import "keyframes";

@mixin section-wrapper {
  background-color: #fff;
  box-shadow: em(4) em(4) em(10) rgba(0, 0, 0, 0.05);
}

@mixin loader-skeleton {
  position: relative;
  overflow: hidden;
  background-color: #f1f1f1;

  &::before {
    position: absolute;
    content: "";
    display: block;
    left: em(-150);
    top: 0;
    height: 100%;
    width: em(150);
    background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 25%,
      #eaeaea 50%,
      transparent 75%,
      transparent 100%
    );
    animation: loader-skeleton-anim 1.2s ease-in-out infinite;
  }
}
